<h1>Welcome, <%= current_user.full_name %></h1>

<% if not session[:referral] %>
  <%= form_with url: utilities_path, method: :get, local: true do |f| %>
    <%= f.select :utility, provider_list.map {|utility| [utility[:attributes][:name], utility[:attributes][:id]]}, prompt: "select-field" %>
    <%= f.submit 'Authorize Provider', class: "button rounded-lg px-8 " %>
  <% end %>

<% end %>


<h3>Your Points:</h3>
<h2>Total<%=current_user.total_points %></h2>


<div class="panels container bg-gray-200 w-full mx-auto type-page rounded-lg">
  <div class="grid grid-cols-2 gap-12 md:gap-12 md:grid-cols-auto rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
  <section class="my-usages bg-gray-200">
  <header class="flex flex-col items-center bg-gray-200 font-bold rounded-lg text-2xl">
  <p> My Monthly Points </p>
  </header>
    <% if @data_info_usage %>
        <div class="grid gap-12 md:gap-12 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
        <% friend_count = @data_info_usage[:friends].count %>
        <% friend_count.times do %>
          <%= column_chart [@data_info_usage[:user_usage].name, @data_info_usage[:user_usage].monthly_points] %>
          <section id="points-breakdown-section">
            <p><b><%= @data_info_usage[:user_usage].name %></b>: <%= @data_info_usage[:user_usage].monthly_points %> points this month</p>
          </section>
        <% end %>
        </div>
    <% else %>
        <p>Authorize your provider above to see your monthly points</p>
    <% end %>
      </section>

      <section id="friends-section" class="parties_im_invited_to bg-gray-200">
        <header class="flex flex-col items-center bg-gray-200 font-bold rounded-lg text-2xl">
          <h3> My Friends Monthly Points </h3>
          <%= render partial: "friends_search"%>
        </header>
    <% if @data_info_usage %>
        <div class="grid  gap-12 md:gap-12 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
        <% @data_info_usage[:friends].each do |friend| %>
          <%= column_chart [[friend.user.full_name, friend.monthly_points]] %>
          <section id="friend-points-breakdown-section">
            <p><b><%= friend.user.full_name %></b>: <%= friend.monthly_points %> points this month</p>
          </section>
        <% end %>
        </div>
    <% end %>
      </section>
  </div>        
</div>