<h1>Welcome, <%= current_user.full_name %></h1>

<%= form_with url: utilities_path, method: :get, local: true do |f| %>
  <%= f.select :utility, provider_list.map {|utility| [utility[:attributes][:name], utility[:attributes][:id]]}, prompt: "select-field" %>
  <%= f.submit 'Authorize Provider', class: "button rounded-lg px-8 " %>
<% end %>


<h3>Your Points:</h3>
<h2>Total<%=current_user.total_points %></h2>


<div class="panels container bg-gray-200 w-full mx-auto type-page rounded-lg">
  <div class="grid grid-cols-2 gap-12 md:gap-12 md:grid-cols-2 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
    <section class="my_parties bg-gray-200">
      <header class="flex flex-col items-center bg-gray-200 font-bold rounded-lg text-2xl">
        <p> My Monthly Points </p>
      </header>
      <div class="grid grid-cols-2 gap-12 md:gap-12 md:grid-cols-2 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
        <%= render partial: "monthly", collection: @data_info_usage %>
      </div>
    </section>
    <section class="parties_im_invited_to bg-gray-200">
      <header class="flex flex-col items-center bg-gray-200 font-bold rounded-lg text-2xl">
        <h3> My Friends Monthly Points </h3>
      </header>
      <div class="grid grid-cols-2 gap-12 md:gap-12 md:grid-cols-2 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
      <%= render partial: "monthly", collection: current_user.friends %>
      </div>
    </section>
  </div>        
</div>