<!DOCTYPE html>
<html>
  <head>
    <title>RunTheJoules</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <section id="flash-messages" >
      <% flash.each do |notice, messages| %>
        <% if messages.class == Array %>
          <p><%= messages.to_sentence %></p>
        <% else %>
          <p><%= messages%></p>
         <% end %>
      <% end %>
    </section>
  </body>
</html>
